$button-size: 50px;

.recharts-wrapper {
  display: inline-block;
}

.info {
  display: inline-block;
  vertical-align: top;

  .parameters {  
    margin-left: 50px;

    .parameters-block {
      margin: 10px 0;
    
      * {
        display: inline-block;
      }
    
      .parameters-name {
        font-weight: bold;
      }
    
      input {
        width: 100px;
        margin-left: 10px;
      }
    }
  }
  
  .timer {
    margin-top: 20px;
    margin-left: 50px;
  }

  .button {
    margin-top: 20px;
    margin-left: 50px;
    background-color: black;
    color: white;
    width: $button-size;
    height: $button-size;
    text-align: center;
    line-height: $button-size;
  }
}