.recharts-wrapper {
  display: inline-block;
}

.parameters {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;

  .parameters-block {
    margin: 10px 0;
  
    * {
      display: inline-block;
    }
  
    .parameters-name {
      font-weight: bold;
      font-size: 16px;
    }
  
    input {
      width: 100px;
      margin-left: 10px;
    }
  }
}